.container {
  position: relative;
  overflow: visible;
}

.line {
  margin-top: 1rem;
  padding: 0.7rem;
  line-height: 1.5;
  vertical-align: middle;
  border-radius: 4px;
  background: var(--color-message-background);
  word-wrap: break-word;
  animation: message-enter 0.1s ease;
}

.name {
  margin-right: 5px;
}

@keyframes message-enter {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
