.line {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 4px;
  background: var(--color-message-background);
  word-wrap: break-word;
  animation: fadeIn 1s ease-in-out;
}

.name {
  margin-right: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
